:root {
  font-family: 'Cinzel', serif;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #252525;
}

img {
  display: block;
  width: 15rem;
  image-rendering: optimizeSpeed;
}

.card-placeholder {
  width: 15rem;
  aspect-ratio: calc(226 / 314);
  background-color: #00000048;
  border-radius: 0.5rem;
}
